// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 Digi International Inc.
 */

/ {
	bootcount {
		compatible = "u-boot,bootcount-rtc";
		rtc = <&mca_rtc>;
		offset = <0x00b0>;
	};

	aliases {
		usbgadget0 = &usbg1;
		usbgadget1 = &usbg3;
	};

	usbg1: usbg1 {
		compatible = "fsl,imx27-usb-gadget";
		dr_mode = "peripheral";
		chipidea,usb = <&usbotg1>;
		status = "okay";
		bootph-some-ram;
		bootph-pre-ram;
	};

	usbg3: usbg3 {
		compatible = "fsl,imx27-usb-gadget";
		dr_mode = "peripheral";
		chipidea,usb = <&usbotg3>;
		status = "okay";
		bootph-some-ram;
		bootph-pre-ram;
	};
};

/*
 * U-Boot specific info for SPL builds
 */
&{/imx8qx-pm} {
	bootph-some-ram;
	bootph-pre-ram;
};

&mu {
	bootph-some-ram;
	bootph-pre-ram;
};

&clk {
	bootph-some-ram;
	bootph-pre-ram;
};

&iomuxc {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_lsio {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio0 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio1 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio2 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio3 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio4 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio5 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio6 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_lsio_gpio7 {
	bootph-pre-ram;
	bootph-some-ram;
};

&pd_dma {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_dma_lpuart2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_conn {
	bootph-pre-ram;
};

&pd_conn_sdch0 {
	bootph-pre-ram;
};

&pd_conn_sdch1 {
	bootph-pre-ram;
};

&pd_conn_sdch2 {
	bootph-pre-ram;
};

&pd_conn_usbotg0 {
	bootph-pre-ram;
};

&pd_conn_usbotg0_phy {
	bootph-pre-ram;
};

&pd_conn_usb2 {
	bootph-pre-ram;
};

&pd_conn_usb2_phy {
	bootph-pre-ram;
};

&pd_caam {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_caam_jr1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_caam_jr2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&pd_caam_jr3 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio0 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio3 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio4 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio5 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio6 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio7 {
	bootph-some-ram;
	bootph-pre-ram;
};

&lpuart2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&usbmisc1 {
	bootph-pre-ram;
};

&usbphy1 {
	bootph-pre-ram;
};

&usbotg1 {
	bootph-pre-ram;
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&usbotg3 {
	phys = <&usbphynop1>;
	bootph-pre-ram;
};

&usbphynop1 {
	compatible = "cdns,usb3-phy";
	reg = <0x0 0x5B160000 0x0 0x40000>;
	#phy-cells = <0>;
	bootph-pre-ram;
};

&usdhc1 {
	bootph-pre-ram;
};

&usdhc2 {
	bootph-pre-ram;
};

&crypto {
};

&sec_jr1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&sec_jr2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&sec_jr3 {
	bootph-some-ram;
	bootph-pre-ram;
};
